Projektet/Projektet.opensdf
Projektet/Projektet.sdf
Projektet/.vs/Projektet/v14/.suo
Projektet/Projektet/Projektet.vcxproj
Projektet/Projektet/Debug/Projektet.log
Projektet/Debug/Projektet.exe
Projektet/Debug/Projektet.pdb
Projektet/Projektet/Debug/vc140.idb
Projektet/Projektet/Debug/vc140.pdb